<section>
  <div class="page-header">
    <h1>Orbits</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="orbit in vm.orbits"
       ui-sref="orbits.view({ orbitId: orbit._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="orbit.created | date:'mediumDate'"></span>
        by
        <span ng-if="orbit.user" ng-bind="orbit.user.displayName"></span>
        <span ng-if="!orbit.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="orbit.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.orbits.$resolved && !vm.orbits.length">
    No Orbits yet, why don't you <a ui-sref="orbits.create">create one</a>?
  </div>
</section>
